@model IEnumerable<MvcPL.Models.AthleteViewModel>

@{
    ViewBag.Title = "Athlete top";
}

<div id="athleteResult"></div>



<div id="athletesList">
    @Html.Partial("AthletesPartial")
</div>

@section scripts
{
    @Scripts.Render("~/scripts/customResult-1.0.js")
}