@model IEnumerable<MvcPL.Models.CompetitionViewModel>

@{
    ViewBag.Title = "Competition list";
}

<div id="competitionResult"></div>

<div id="competitionsList">
    @Html.Partial("CompetitionsPartial")
</div>